In [1]:
import sys

In [2]:
sys.path.append('/srv/share3/hagrawal9/project/sokoban/habitat-sim/')
sys.path.append('/srv/share3/hagrawal9/project/sokoban/habitat-api/')

In [4]:
cd ..

/coc/pskynet3/hagrawal9/project/habitat/habitat-api

In [5]:
import os
import json
import random
import pandas as pd

In [29]:
filename = 'data/scene_datasets/igibson/gibson_scene_metadata.json'
with open(filename) as f:
    gibson_data = json.load(f)

In [30]:
gibson_df = pd.DataFrame.from_dict(gibson_data)

In [31]:
gibson_df = pd.concat([gibson_df.drop(['stats'], axis=1), gibson_df['stats'].apply(pd.Series)], axis=1)

In [32]:
gibson_df.sort_values(by='ssa')

,id,name,split_full,split_full+,split_medium,split_tiny,area,floor,navigation_complexity,room,ssa
202,Gluek,model-290,none,test,none,none,740.584,7.0,3.620,12.0,0.493
53,Bettendorf,model-289,train,train,none,none,4371.903,6.0,3.360,21.0,0.493
352,Micanopy,model-172,train,train,train,none,374.441,4.0,2.006,29.0,0.498
100,Chesterbrook,model-171,train,train,none,none,551.319,3.0,1.236,21.0,0.498
548,Weleetka,model-245,train,train,none,none,1357.157,4.0,8.402,26.0,0.498
...,...,...,...,...,...,...,...,...,...,...,...
165,Elmira,model-345,none,val,none,none,42.795,1.0,1.431,3.0,2.177
477,Siren,model-483,none,train,none,none,739.196,3.0,5.496,23.0,2.332
376,Musicks,model-484,train,train,train,none,209.679,3.0,1.141,10.0,2.332
255,Idanha,model-71,none,val,none,none,40.383,1.0,1.407,1.0,2.525
339,McCloud,model-72,none,train,none,none,645.828,3.0,5.655,26.0,2.525

In [33]:
gibson_test = gibson_df[gibson_df['split_full+']=='test']
gibson_val = gibson_df[gibson_df['split_full+']=='val']
gibson_train = gibson_df[gibson_df['split_full+'] == 'train']

In [34]:
gibson_test.shape, gibson_val.shape, gibson_train.shape

((80, 11), (80, 11), (412, 11))

In [35]:
df = gibson_df.sort_values(by='ssa')

In [36]:
df[(df['split_full']=='train') & (df['split_medium']!='train')].shape

(260, 11)

In [37]:
with open('data/train_scenes.txt') as f:
    train_scenes = [line.strip() for line in f.readlines()]

with open('data/val_scenes.txt') as f:
    val_scenes = [line.strip() for line in f.readlines()]
    
with open('data/test_scenes.txt') as f:
    test_scenes = [line.strip() for line in f.readlines()]

In [38]:
scenes = os.listdir('data/scene_datasets/gibson_train_val/')
more_scenes = os.listdir('data/scene_datasets/gibson/')

In [39]:
gibson_scenes = []
for scene in scenes + more_scenes:
    if '.glb' in scene:
        gibson_scenes.append(scene[:-4])

In [40]:
df_gibson = df[df['id'].isin(gibson_scenes)]

In [41]:
df_gibson.shape

(491, 11)

In [58]:
train_df = df_gibson[df_gibson['id'].isin(train_scenes)]
val_df = df_gibson[df_gibson['id'].isin(val_scenes)]
test_df = df_gibson[df_gibson['id'].isin(test_scenes)]

In [59]:
train_sokoban_scenes = train_df['id'].tolist()
val_sokoban_scenes = val_df['id'].tolist()
test_sokoban_scenes = test_df['id'].tolist()
random.shuffle(train_sokoban_scenes)
random.shuffle(val_sokoban_scenes)
random.shuffle(test_sokoban_scenes)

In [60]:
len(test_sokoban_scenes)

10

In [61]:
train_scenes = train_sokoban_scenes
val_scenes = val_sokoban_scenes

In [67]:
train_df.to_pickle('data/sokoban_gibson_train.pkl')
val_df.to_pickle('data/sokoban_gibson_val.pkl')
test_df.to_pickle('data/sokoban_gibson_test.pkl')

In [68]:
train_df.shape

(35, 11)

In [69]:
val_df.shape

(10, 11)

In [70]:
len(train_sokoban_scenes)

35

In [71]:
len(val_sokoban_scenes)

10

In [72]:
pwd

'/coc/pskynet3/hagrawal9/project/habitat/habitat-api'